* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: "Be Vietnam pro", sans-serif;
    min-height: 100vh;
    width: 100%;
    line-height: 1.5;
    /* background-color: #FBFBFB; */
}

header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    padding: 0 20px;
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 1100px;
    margin: 0 auto;
    padding: 22px 0;
}

.logo-link {
    display: flex;
    margin-right: auto;
}

.logo-link a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
}

.logo-link a h1 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #121314;
    line-height: 1.2;
}

.logo-link a img {
    width: 55px;
    overflow: hidden;
}

.navbar .link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 18px;
}

.navbar .link a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: #7B848B;
    cursor: pointer;
    transition: 0,3s ease;
    margin-right: 1.5rem;
}

.navbar .link a:hover {
    color: red;
}

.button-link {
    border: none;
    outline: none;
    border: 2px solid #CF5955;
    border-radius: 10px;
    padding: 18px 22px;
    cursor: pointer;
    font-size: 0.95rem;
    font-weight: 600;
    color: #CF5955;
    background-color: #fff;
}

.container {
    height: 650px;
    width: 100%;
}

.container .box-one {
    height: 580px;
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.container .box-two {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    background-color: #F5F6F7;
    border-radius: 12px;
}

.text-one .one-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.one-text hr {
    width: 30px;
    border: 2px solid #CF5955;
    /* color: #CF5955; */
}

.box-one h5 {
    font-size: 0.95rem;
    font-weight: 500;
    color: #CF5955;
}

.text-one {
    max-width: 380px;
    /* line-height: 1.2; */
}

.text-one h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #121314;
    margin-bottom: 15px;
}

.text-one p {
    font-size: 1rem;
    font-weight: 400;
    word-break: break-all;
    margin-bottom: 15px;
}

.text-one span {
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
    line-height: 1.5;
}

.text-one .button-two {
    border: none;
    outline: none;
    padding: 14px 00;
    width: 250px;
    text-align: center;
    background-color: #CF5955;
    font-size: 0.95rem;
    font-weight: 400;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 10px;
}

.picture-one {
    margin-top: 40px;
}


.picture-one img {
    height: 500px;
    width: 500px;
}

.text-two {
    max-width: 700px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-left: 30px;
}

.two-text {
    display: flex;
    align-items: center;
    gap: 20px;
}

.text-two h3 {
    font-size: 1.1rem;
    font-weight: 400;
    color: #353A3E;
}



.two-text img {
    width: 18px;
    overflow: hidden;
}

@media(max-width: 600px) {
    .navbar {
        padding: 15px 0;
    }

    .link {
        position: fixed;
        top: 0;
        z-index: 10;
        height: 100vh;
        width: 100%;
        background-color: rgba(254, 130, 130, 0.77);
        padding-top: 60px;
        text-align: center;
        display: block;
        flex-direction: column;
        left: -100%;
    }

    .link.show-menu {
        left: 0;
    }

    .navbar .link {
        display: inline-flex;
        margin: -10px 0;
        color: #fff;
    }

    .button-link {
        padding: 7px 9px;
        font-size: 0.75rem;
    }
}

@media(max-width: 600px) {
    .container {
        height: 100%;
        width: 100%;
    }

    .container .box-one {
        height: 650px;
        width: 100%;
        flex-direction: column;
    }

    .text-one {
        margin: 0 auto;
        text-align: center;
        position: relative;
        margin-top: 7rem;
    }

    .text-one h1 {
        font-size: 2rem;
    }

    .text-one p {
        font-size: 0.95rem;
    }

    .text-one .button-two {
        margin: 0 auto;
        font-size: 0.85rem;
        padding: 12px 0;
        width: 200px;
    }

    .box-one .picture-one {
        margin: 0 auto;
    }

    .picture-one img {
        width: 300px;
        height: 300px;
    }

    .one-text {
        flex-direction: column;
        margin: 0 auto;
    }

    .container .box-two {
        width: 95%;

    }

    .text-two h3 {
        font-size: 0.95rem;
        margin-bottom: 5px;
    }

    .two-text {
        position: absolute;
        left: 50%;
        transform: translate(-45%);
    }

    .two-text img {
        width: 15px;
    }

    .text-two {
        display: block;
        text-align: center;
        margin-top: -20px;
    }
}

.container-two {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.img-one {
    width: 420px;
    height: 250px;
}

.container-two .text-three {
    max-width: 600px;
}

.text-three h3 {
    font-size: 1.4rem;
    font-weight: 600;
    color: #121314;
    line-height: 1.3;
    margin-bottom: 10px;
}

.text-three p {
    font-size: 0.95rem;
    font-weight: 400;
    color: #5E6971;
    margin-bottom: 20px;
}

.button-three {
    border: 2px solid #CF5955;
    font-size: 0.95rem;
    font-weight: 400;
    width: 200px;
    color: #CF5955;
    padding: 12px 00;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 10px;
}

.button-three img {
    width: 25px;
    overflow: hidden;
}

@media(max-width: 600px) {
    .container-two {
        height: 100%;
        width: 100%;
        flex-direction: column;
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
    }

    .img-one {
        width: 300px;
        height: 200px;
        margin-bottom: 30px;
    }

    .text-three {
        margin: 0 auto;
        text-align: center;
        width: 90%;
    }

    .text-three h3 {
        font-size: 1rem;
    }

    .text-three p {
        font-size: 0.75rem;
        word-break: break-all;
    }

    .button-three {
        margin: 0 auto;
        padding: 8px 15px;
        font-size: 0.75rem;
        width: 160px;
    }

    .button-three img {
        width: 18px;
    }
}

.container-three {
    height: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}

.text-fourth {
    max-width: 350px;
}

.text-fourth h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #121314;
    margin-bottom: 10px;
}

.text-fourth p {
    font-size: 1rem;
    font-weight: 400;
    color: #5E6971;
}


.fourth-text {
    padding: 1.5rem 2rem 1.5rem 1.5rem;
    background-color: #FAEEEE;
    max-width: 490px;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.fourth-text p {
    font-size: 1rem;
    font-weight: 400;
    color: #5E6971;
    word-break: break-all;
}

.img-fourth {
    width: 30px;
    overflow: hidden;
}

.fourth-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.profile-fourth {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-fourth h3 {
    font-size: 0.95rem;
    font-weight: 500;
    color: #485057;
}

.profile-fourth img {
    width: 30px;
}

@media(max-width: 600px) {
    .container-three {
        height: 100%;
        width: 100%;
        display: block;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .text-fourth {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 40px;
    }

    .text-fourth h1 {
        font-size: 1.5rem;
    }

    .text-fourth p {
        font-size: 0.95rem;
    }

    .fourth-text {
        margin: 0 auto;
        width: 90%;
        margin-bottom: 20px;
    }

    .fourth-profile {
        padding: 0 1.5rem ;
        width: 95%;
    }
}

.container-four {
    display: flex;
    align-items: center;
    height: 400px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.box-five {
    display: flex;
    align-items: center;
    height: 400px;
    width: 100%;
    /* border: 1px solid red; */
    justify-content: space-between;
}

.picture-degree {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.picture-degree img {
    width: 25px;
}

.picture-degree h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #CF5955;
}

.text-six h5 {
    font-size: 0.95rem;
    font-weight: 600;
    color: #CF5955;
}

.text-six h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #121314;
    margin-bottom: 15px;
}

.text-six p {
    font-size: 0.95rem;
    font-weight: 400;
    color: #485057;
    width: 90%;
    margin-bottom: 25px;
}

.text-six {
    max-width: 550px;
    /* border: 1px solid red; */
}

.box-fives {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    /* border: 1px solid red; */
    height: 400px;
    width: 100%;
}

@media(max-width: 650px) {
    .container-four {
        height: 100%;
        width: 100%;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    .box-five {
        display: block;
        height: 100%;
        width: 100%;

    }

    .picture-degree  {
        margin-left: 34.5%;
    }

    .picture-degree h3 {
        font-size: 1.rem;
    }

    .text-six {
        /* width: 100%; */
        text-align: center;
        margin-bottom: 30px;
    }

    .text-six p {
        margin: 0 auto;
        margin-bottom: 25px;
        font-size: 0.95rem;
    }

    .text-six h1 {
        margin-bottom: 20px;
        font-size: 1.3rem;
    }
}

.container-seven {
    display: flex;
    align-items: center;
    height: 400px;
    width: 100%;
    /* border: 1px solid red; */
}

.box-seven {
    display: flex;
    /* align-items: center; */
    width: 100%;
    height: 400px;
    max-width: 1100px;
    margin: 0 auto;
    /* border: 1px solid red; */
    justify-content: space-between;
}

.seven-text {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}

.seven-text h3 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #CF5955;
}

.seven-text img {
    width: 25px;
}

.text-seven h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #121314;
}

.box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-box {
    flex-grow: 1;
}

.card-header-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
    /* row-gap: 1.5rem; */
}

@media(min-width: 600px) {
    .card-header-box {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 1200px) {
    .card-header-box {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 150px;
    width: 160px;
    /* border: 1px solid red; */
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;

}

.card-body h1 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000000;
}

.card-header .photo-pic {
    height: 30px;
    width: 25px;
}

@media(max-width: 600px) {
    .container-seven {
        height: 100%;
        width: 100%;
    }

    .box-seven {
        display: block;
    }

    .seven-text {
        margin-left: 38.5%;
        padding-top: 2rem;
    }

    .text-seven {
        text-align: center;
    }

    .text-seven h1 {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }

    .text-seven img {
        margin-bottom: 20px;
    }

    .card {
        margin: 0 auto;
    }

    .card-body h1 {
        font-size: 1.2rem;
    }
}

.container-eight {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
}

.box-eight {
    display: flex;
    justify-content: space-between;
    height: 400px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.text-eight {
    width: 100%;
    max-width: 500px;
}

.text-eight h1 {
    font-size: 0.95rem;
    font-weight: 400;
    color: #353A3E;
}

.eight-text {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 18px;
}

.content-eight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 00;
}

.content-eight li {
    color: #CF5955;
}

.content-eight h3 {
    font-size: 0.95rem;
    font-weight: 600;
    color: #121314;
}

.eight-content img {
    width: 25px;
}

.eight-text h3 {
     font-size: 1rem;
    font-weight: 600;
    color: #CF5955;
}

.content-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-contnet {
    flex-wrap: 1;
}

 .card-header-vvv {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

@media(min-width: 600px) {
    .card-header-vvv {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(min-width: 1200px) {
    .card-header-vvv {
        grid-template-columns: repeat(2, 1fr);
    }
}

.carding {
    display: flex;
    flex-direction: column;
    padding: 1.25rem 2.5rem 1.5rem 2.5rem;
    background-color: #FAEDEC80;
    border-radius: 8px;
}

.header-carding {
    text-align: center;
}

.header-carding h5 {
    font-size: 0.75rem;
    color: #CF5955;
    border-radius: 50%;
    border: 1px solid #CF5955;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.header-carding h3 {
    font-size: 0.95rem;
    font-weight: 500;
    color: #121314;
}

@media(max-width: 600px) {
    .container-eight {
        height: 100%;
        width: 100%;
    }

    .box-eight {
        height: 100%;
        width: 100%;
        display: block;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.container-nine {
    padding-top: 2.5rem;
}

.text-nine {
    text-align: center;
}

.text-nine h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #121314;
    margin-bottom: 10px;
}

.text-nine p {
    font-size: 0.95rem;
    font-weight: 400;
    color: #5E6971;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.header-nine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3.5rem;
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
}

.nine-header {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    flex-grow: 1;
}

.card-header-nine {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    -moz-column-gap: 2px;
         column-gap: 2px;
    row-gap: 10px;
}

@media(min-width: 600px) {
    .card-header-nine {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 1200px) {
    .card-header-nine {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card-nine {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-img img {
    width: 350px;
    height: 450px;
}

.container-ten {
    display: flex;
    align-items: center;
    height: 350px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    background-color: #F5F6F7;
    border-radius: 24px;
    position: relative;
}

.text-ten {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-ten h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #121314;
    line-height: 1.2;
    margin-bottom: 20px;
}

.text-ten p {
    font-size: 1rem;
    font-weight: 400;
    color: #5E6971;
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.button-ten {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 14px 00;
    width: 200px;
    border: none;
    outline: none;
    background-color: #CF5955;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 0.95rem;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}

@media(max-width: 600px) {
    .container-ten {
        width: 90%;
        height: 400px;
    }

    .text-ten h1 {
        font-size: 1.5rem;
    }

    .text-ten p {
        font-size: 0.95rem;
    }

    .button-ten{
        padding: 12px 00;
        font-size: 0.75rem;
        width: 180px;
    }

    .button-ten img {
        width: 20px;
    }
}

.container-great {
    padding: 15px 00;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-great p {
    font-size: 1rem;
    font-weight: 400;
    color: #5E6971;
}

@media(max-width: 600px) {
    .container-great {
        display: block;
        padding-top: 1rem;
    }

    .container-great .logo-link {
        justify-content: center;
        margin-bottom: 10px;
    }

    .text-great {
        text-align: center;
    }

    .text-great P {
        font-size: 0.95rem;
    }
}